{% extends "zend_django/html/html_struct.html" %}
{% load i18n %}
{% load op_helpers %}
{% load static %}
{% block content %}

<a href="{% url 'session_imin' %}" >HOME</a>

<div class="card-columns">
  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-imagentam" src="{%static "Imagenes/inventarios.png" %}" alt="Card image cap">
        <h5 class="card-title"><a href="{% url "cat_m_inventario_list" %}">Inventarios</a></h5>
         <small class="text-muted">Bienvenido a <cite title="Source Title">Inventarios</cite>
         </small>
    </div>
  </div>
  
  <div class="card text-center">
    <div class="card-body">
     <img class="card-img-imagentam" src="{%static "Imagenes/clientes.png" %}" alt="Card image cap">
      <h5 class="card-title">  <a href="{% url "cat_m_cliente_list" %}">Clientes</a> </h5>
        <small class="text-muted">Bienvenido a <cite title="Source Title">Clientes</cite>
        </small> 
    </div>
  </div>
  
  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-imagentam" src="{%static "Imagenes/proveedores.png" %}" alt="Card image cap">    
        <h5 class="card-title"> <a href="{% url "cat_m_proveedor_list" %}">Proveedores</a> </h5>
          <small class="text-muted">Bienvenido a <cite title="Source Title">Proveedores </cite>
          </small>
    </div>
  </div>

<!--
<div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Bienvenido al Sitema de Catalogos</p>
      <footer class="blockquote-footer"></footer>
    </blockquote>
  </div>
-->

  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-imagentam" src="{%static "Imagenes/prospectos.png" %}" alt="Card image cap">
        <h5 class="card-title"> <a href="{% url "cat_m_prospecto_list" %}">Prospectos</a> </h5>
          <small class="text-muted">Bienvenido a <cite title="Source Title">Prospectos </cite>
          </small>
    </div>
  </div>
  
  
  
  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-imagentam" src="{%static "Imagenes/vendedores.png" %}" alt="Card image cap">
        <h5 class="card-title"> <a href="{% url "cat_m_vendedor_list" %}">Vendedores</a> </h5>
         <small class="text-muted">Bienvenido a <cite title="Source Title">Vendedores </cite>
         </small>
      </div>
  </div>
  
  

  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-imagentam" src="{%static "Imagenes/empleados.png" %}" alt="Card image cap">
        <h5 class="card-title"> <a href="{% url "cat_m_empleado_list" %}">Empleados</a> </h5>
          <small class="text-muted">Bienvenido a <cite title="Source Title">Empleados </cite>
          </small>
    </div>
  </div>
</div>



<div class="card-columns">
  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-imagentam" src="{%static "Imagenes/fletes.png" %}" alt="Card image cap">
        <h5 class="card-title"> <a href="{% url "cat_m_flete_list" %}">Fletes</a> </h5>
          <small class="text-muted">Bienvenido a <cite title="Source Title">Fletes </cite>
          </small>
    </div>
  </div>
  
 
  <div class="card text-center">
    <div class="card-body">
      <img class="card-img-imagentam" src="{%static "Imagenes/cajabanco.png" %}" alt="Card image cap">
       <h5 class="card-title"> <a href="{% url "cat_m_cajabanco_list" %}">Caja Banco</a> </h5>
        <small class="text-muted">Bienvenido a <cite title="Source Title">Caja Banco </cite>
        </small>
    </div>
  </div>
</div>  
  

{% endblock %}
