.container2 {
    justify-content: space-between;
    /*CONTENDOR*/
}

.lista {
    list-style: none;
    /*tipo de viñeta*/
    text-align: center;
    text-transform: uppercase;
    background-color: #a3a0a0;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    /*redondear las esquinas*/
    width: 95%;
    max-width: 25rem;
    /*800px tamaño del contenedor de la seccion */
    margin: 0 auto;
    margin-bottom: 1rem;
}

.lista a:hover {
    color: #fa8909
}