{% extends "zend_django/html/html_struct.html" %}
{% load i18n %}
{% load op_helpers %}
{% block content %}
 <a href="{% url "cat_m_materiaprima_list" %}">Listado </a>
 <a href="{% url "cat_m_inventario_list" %}">Inventarios </a>
 <a href="{% url "cat_m_clientes_list" %}">Clientes</a>
 <a href="{% url "cat_m_proveedores_list" %}">Proveedores</a>
 <a href="{% url "cat_m_prospecto_list" %}">Prospecto</a>
 <a href="{% url "cat_m_vendedor_list" %}">Vendedores</a>
 <a href="{% url "cat_m_empleado_list" %}">Empleado</a>
 <a href="{% url "cat_m_flete_list" %}">Fletes</a>
 <a href="{% url "cat_m_cajabanco_list" %}">Caja Banco</a>
{% endblock %}