{% extends "zend_django/html/html_struct.html" %}
{% load i18n %}
{% load op_helpers %}
{% load static %}
{% block content %}

<div class="card-columns">
  <div class="card" style="width: 15REM;">
    <img class="card-img-top" src= {%static "Imagenes/catlogo2.png" %} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <a href="{% url 'SubMenu' %}" >CATALOGOS</a> </h5>
      <p class="card-text">Catalogos principales sistema gestion de negocios.</p>
    </div>
  </div>

  <div class="card" style="width: 15REM;">
    <img class="card-img-top" src= {%static "Imagenes/invlogo2.png" %} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <a href="{% url "cat_m_proveedor_list" %}">INVENTARIOS</a> </h5>
      <p class="card-text">Control y Movimientos de Inventario.</p>
    </div>
  </div>

  <div class="card" style="width: 15REM;">
    <img class="card-img-top " src= {%static "Imagenes/comlogo.png" %} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <a href="{% url "cat_m_proveedor_list" %}">COMPRAS</a> </h5>
      <p class="card-text">Planeacion y registro de insumos de produccion, gastos fijos recurrentes y nomina.</p>
    </div>
  </div>

  <div class="card" style="width: 15REM;">
    <img class="card-img-top" src= {%static "Imagenes/VenLogo.png" %} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <a href="{% url "cat_m_proveedor_list" %}">VENTAS</a> </h5>
      <p class="card-text">Gestion del ciclo Prospecto, Ventas, Cobranza.</p>
    </div>
  </div>

    <div class="card" style="width: 15REM;">
    <img class="card-img-top" src= {%static "Imagenes/EdoLogo.png" %} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <a href="{% url "cat_m_proveedor_list" %}">ESTADOS FINANCIEROS</a> </h5>
      <p class="card-text">Estado Financieros del Negocio.</p>
    </div>
  </div>
</div> 


{% endblock %}

